In [1]:
import pandas as pd

In [4]:
claimants_data = pd.read_csv('claimants.csv')
claimants_data

      CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0           5         0     0.0       1.0       0.0    50.0  34.940
1           3         1     1.0       0.0       0.0    18.0   0.891
2          66         1     0.0       1.0       0.0     5.0   0.330
3          70         0     0.0       1.0       1.0    31.0   0.037
4          96         1     0.0       1.0       0.0    30.0   0.038
...       ...       ...     ...       ...       ...     ...     ...
1335    34100         1     0.0       1.0       0.0     NaN   0.576
1336    34110         0     1.0       1.0       0.0    46.0   3.705
1337    34113         1     1.0       1.0       0.0    39.0   0.099
1338    34145         0     1.0       0.0       0.0     8.0   3.177
1339    34153         1     1.0       1.0       0.0    30.0   0.688

[1340 rows x 7 columns]

In [5]:
claimants_data.shape

(1340, 7)

In [8]:
claimants_data.dtypes

CASENUM       int64
ATTORNEY      int64
CLMSEX      float64
CLMINSUR    float64
SEATBELT    float64
CLMAGE      float64
LOSS        float64
dtype: object

In [9]:
claimants_data.isna().sum()

CASENUM       0
ATTORNEY      0
CLMSEX       12
CLMINSUR     41
SEATBELT     48
CLMAGE      189
LOSS          0
dtype: int64

In [10]:
claimants_data.head(20)

    CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0         5         0     0.0       1.0       0.0    50.0  34.940
1         3         1     1.0       0.0       0.0    18.0   0.891
2        66         1     0.0       1.0       0.0     5.0   0.330
3        70         0     0.0       1.0       1.0    31.0   0.037
4        96         1     0.0       1.0       0.0    30.0   0.038
5        97         0     1.0       1.0       0.0    35.0   0.309
6        10         0     0.0       1.0       0.0     9.0   3.538
7        36         0     1.0       1.0       0.0    34.0   4.881
8        51         1     1.0       1.0       0.0    60.0   0.874
9        55         1     0.0       1.0       0.0     NaN   0.350
10       61         0     1.0       1.0       0.0    37.0   6.190
11      148         0     0.0       1.0       0.0    41.0  19.610
12      150         1     0.0       1.0       0.0     7.0   1.678
13      150         0     1.0       1.0       0.0    40.0   0.673
14      169         1     1.0       1.0       0.0    37.0   0.143
15      171         1     1.0       0.0       0.0     9.0   0.053
16      334         1     1.0       1.0       0.0    58.0   0.050
17      360         0     0.0       1.0       0.0    58.0   0.758
18      376         1     0.0       1.0       0.0     3.0   0.000
19      401         0     1.0       1.0       0.0    38.0   4.754

In [11]:
del claimants_data['CASENUM']

In [13]:
claimants_data.dropna(axis=0,inplace=True)

In [14]:
claimants_data

      ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0            0     0.0       1.0       0.0    50.0  34.940
1            1     1.0       0.0       0.0    18.0   0.891
2            1     0.0       1.0       0.0     5.0   0.330
3            0     0.0       1.0       1.0    31.0   0.037
4            1     0.0       1.0       0.0    30.0   0.038
...        ...     ...       ...       ...     ...     ...
1334         1     1.0       1.0       0.0    16.0   0.060
1336         0     1.0       1.0       0.0    46.0   3.705
1337         1     1.0       1.0       0.0    39.0   0.099
1338         0     1.0       0.0       0.0     8.0   3.177
1339         1     1.0       1.0       0.0    30.0   0.688

[1096 rows x 6 columns]

In [15]:
claimants_data.isna().sum()

ATTORNEY    0
CLMSEX      0
CLMINSUR    0
SEATBELT    0
CLMAGE      0
LOSS        0
dtype: int64

In [26]:
X = claimants_data.drop(labels=('ATTORNEY'),axis=1)

In [27]:
y = claimants_data[['ATTORNEY']]

In [29]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=12)

In [30]:
X_train.shape,y_train.shape

((876, 5), (876, 1))

In [33]:
X_test.shape,y_test.shape

((220, 5), (220, 1))

In [43]:
import warnings
warnings.filterwarnings('ignore')

from sklearn.linear_model import LogisticRegression
log_model=LogisticRegression()
log_model.fit(X_train,y_train)

LogisticRegression()

In [56]:
y_pred_train = log_model.predict(X_train)

In [59]:
y_pred_test = log_model.predict(X_test)

In [65]:
from sklearn.metrics import accuracy_score

In [52]:
accuracy_score(y_train,y_pred_train)

0.7111872146118722

In [60]:
accuracy_score(y_test,y_pred_test)

0.6863636363636364

In [61]:
from pickle import dump